@model List<string>

@{
    ViewBag.Title = "Designations With Multiple Employees";
}

<h2>Designations With More Than One Employee</h2>

@if (Model != null && Model.Count > 0)
{
    <ul class="list-group">
        @foreach (var designation in Model)
        {
            <li class="list-group-item">@designation</li>
        }
    </ul>
}
else
{
    <div class="alert alert-warning">No designation has more than one employee.</div>
}


@Html.ActionLink("Back to Home", "Index", "Employee", new { }, new { @class = "btn btn-secondary" })
